:root{
  --cor-p: #000000;
  --cor-c: #e5e5e5;
  --cor-r: #ff5a5f;
  --cor-b: #ffffff;
}

.cor-p{
  color: var(--cor-p);
}

.cor-c{
  color: var(--cor-c);
}

.cor-r{
  color: var(--cor-r);
}

.cor-b{
  color: var(--cor-b);
}